/* Work Sons Font  */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins&family=Work+Sans:wght@400;500&display=swap");

/* Universal CSS Style  */
* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}
/* -----------------------------------------------------
        Common  Style CSS
----------------------------------------------------- */
:root {
  --text-black: #131313;
  --primary-clr: #ff900e;
}
a {
  text-decoration: none;
  color: #fff;
}
p {
  color: #727272;
}
img {
  width: 100%;
  height: auto;
  transition: 0.8s;
}
h1,
h2 {
  font-weight: 700;
}
.button a {
  position: relative;
  background-color: var(--primary-clr);
  color: #fff;
  text-decoration: none;
  border-radius: 8px;
  font-weight: 500;
  font-size: 20px;
  padding: 10px 12px;
  z-index: 2;
}
main {
  width: 80%;
  margin: 0 auto;
}
span {
  color: var(--primary-clr);
  font-weight: 700;
}
b {
  color: black;
  font-weight: 700;
}
.section-title {
  width: 50%;
}
.section-title h2 {
  font-weight: 700;
  font-size: 40px;
  border-left: 5px solid var(--primary-clr);
  color: var(--text-black);
  padding-left: 10px;
}
.section-title p {
  margin: 24px 0 70px;
}
/* -----------------------------------------------------
        Header Section CSS Style 
----------------------------------------------------- */

/* Nav Section Style CSS  */
header {
  padding: 50px 15%;
  background: rgba(255, 144, 14, 0.1);
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo h2 {
  font-size: 30px;
  text-transform: uppercase;
  color: var(--text-black);
}
.menu ul {
  display: flex;
  list-style: none;
  gap: 30px;
}
.menu ul li a {
  text-decoration: none;
  color: #424242;
  font-size: 18px;
  padding-bottom: 10px;
  position: relative;
}
.menu ul li a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 2px;
  background-color: #ff900e;
  transition: 0.5s;
}
.menu ul li a:hover:after {
  width: 100%;
  transition: 0.4s;
}

/* Banner Section Style CSS  */
.banner-title {
  margin: 100px auto 50px;
  text-align: center;
}
.banner-title h1 {
  font-size: 64px;
}
.banner-title p {
  width: 65%;
  margin: 40px auto 33px;
}
/* -----------------------------------------------------
        Main Section Style CSS
----------------------------------------------------- */
.features_section {
  width: 90%;
  margin: 80px auto;
  display: grid;
  grid-template-columns: 1fr 0.8fr;
  gap: 70px;
  align-items: center;
}
.feature-img {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}
.feature-info h1 {
  font-size: 45px;
  font-weight: 400;
  color: #727272;
}
.feature-info p {
  margin: 24px 0 50px;
  text-align: justify;
}

/* Features Section Style CSS */
.best_features {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1.2fr;
  align-items: center;
  gap: 140px;
}
.desc-title h1 {
  font-size: 40px;
  border-left: 5px solid var(--primary-clr);
  padding-left: 20px;
}
.desc-title p {
  margin: 24px 0 30px;
  text-align: justify;
}
.desc-details {
  background: #ffffff;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
  border-radius: 8px;
  padding: 15px 15px 15px 30px;
  text-align: justify;
  margin-bottom: 20px;
}
.desc-details h3 {
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 10px;
}
.best_features--img {
  position: relative;
}
.experience-card {
  position: absolute;
  padding: 36px;
  background-color: var(--primary-clr);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-weight: 700;
  font-size: 36px;
  bottom: -12%;
  left: -20%;
  border-radius: 8px;
}
.experience-card p {
  color: #fff;
  font-weight: 500;
  font-size: 25px;
}
/* some facts section style css  */
.some_facts_section {
  margin: 80px 0 100px;
}
.which-facts {
  display: flex;
  justify-content: space-between;
}
.fact {
  text-align: center;
  border: 1px solid var(--primary-clr);
  border-radius: 8px;
  padding: 45px 35px;
  color: #424242;
  font-weight: 600;
  box-shadow: 0px 4px 30px rgba(255, 144, 14, 0.1);
}
.fact:hover .fact-img img {
  transform: scale(1.3);
  transition: 0.4s;
}
.fact:hover {
  background-color: rgba(255, 144, 14, 0.1);
  box-shadow: none;
}
.fact-img {
  width: 50px;
  height: 50px;
  margin: 0 auto;
}
.fact-desc h1 {
  font-size: 36px;
  margin: 10px 0 5px;
}
/* interiors design style css */
.interior-design-section {
  margin: 120px 0 160px;
}
.interior-design {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.interior-img1 {
  position: relative;
  overflow: hidden;
}
.interior-img2 {
  position: relative;
  top: -15%;
  overflow: hidden;
}
.interior-img3 {
  position: relative;
  bottom: -17%;
  overflow: hidden;
}
.interior-img1:hover img,
.interior-img2:hover img,
.interior-img3:hover img {
  transform: scale(1.1) rotate(3deg);
  transition: 0.5s;
}
.interior-img1-position {
  position: absolute;
  top: 0;
  right: 0;
}
.interior-img2-position {
  position: absolute;
  top: 0;
  right: 10%;
}
.interior-img3-position {
  position: absolute;
  top: 0;
  left: 0;
}
.interior-img-overly {
  width: 80%;
  background-color: rgba(255, 143, 14, 0.165);
  padding: 28px 5px 70px 12px;
}
.interior-img-overly h1 {
  width: 80%;
  font-weight: 500;
  color: var(--text-black);
}
.interior-img-overly h2:hover,
.interior-img-overly h1:hover {
  color: var(--primary-clr);
  text-decoration: underline;
}
.interior-img-overly h2 {
  position: absolute;
  right: 20px;
  bottom: 10px;
  font-weight: 500;
  color: var(--primary-clr);
}
.num-box {
  width: 50px;
  height: 50px;
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 36px;
  color: var(--text-black);
  background-color: var(--primary-clr);
}

/* client and sponsor style css */
.sponsor-img {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.sponsor-img img {
  width: 120px;
  filter: grayscale(1);
}
footer {
  margin-top: 70px;
  text-align: center;
  padding: 25px;
  background: rgba(255, 144, 14, 0.1);
  color: #424242;
}
/* 
-----------------------------------------------------
        Responsive Media Queries 
----------------------------------------------------- */

/* Tablet Device  */
@media screen and (min-width: 577px) and (max-width: 768px) {
  /* common style  */
  .section-title {
    width: 80%;
  }
  header {
    padding: 50px 5%;
  }
  .features_section {
    grid-template-columns: 1fr;
  }
  .best_features {
    grid-template-columns: 1fr;
    gap: 60px;
  }
  .experience-card {
    bottom: -6%;
    left: 28%;
    border-radius: 8px;
  }
  .which-facts {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  .interior-design {
    grid-template-columns: repeat(1, 1fr);
    width: 80%;
    margin: 0 auto;
  }
  .interior-img2 {
    top: -2%;
  }
  .interior-img3 {
    bottom: 4%;
  }
  .interior-design-section {
    margin: 120px 0 75px;
  }
  .sponsor-img {
    justify-content: space-evenly;
    gap: 50px;
  }
}
/* Mobile Device */
@media screen and (max-width: 576px) {
  /* common style  */
  .button a {
    font-weight: 500;
    font-size: 18px;
    padding: 10px 12px;
  }
  p {
    font-size: 15px;
  }
  main {
    width: 90%;
  }
  .section-title {
    width: 100%;
  }

  /* nav section */

  .logo h2 {
    font-size: 20px;
  }
  .menu ul {
    gap: 10px;
    flex-direction: column;
  }
  nav {
    align-items: start;
    padding-top: 30px;
  }
  header {
    padding: 0px 10%;
  }

  /* Banner Style */

  .banner-title {
    width: 100%;
    margin: 70px auto 35px;
  }
  .banner-title h1 {
    font-size: 31px;
  }
  .banner-title p {
    margin: 30px 0 30px;
    width: 100%;
  }

  /* features section  */

  .features_section {
    grid-template-columns: 1fr;
  }
  .feature-img {
    display: grid;
    grid-template-columns: 1fr;
  }
  .feature-info h1 {
    font-size: 36px;
  }

  /* best features section style  */

  .best_features {
    grid-template-columns: 1fr;
    gap: 35px;
  }
  .experience-card {
    padding: 30px;
    font-weight: 700;
    font-size: 26px;
    bottom: -14%;
    left: 19%;
  }
  /* Interior design style  */

  .interior-design-section {
    margin: 120px 0 60px;
  }
  .interior-design {
    grid-template-columns: repeat(1, 1fr);
    gap: -5;
  }
  .interior-img2 {
    top: -2%;
  }
  .interior-img3 {
    bottom: 4%;
  }

  /* some facts section  */

  .some_facts_section {
    margin: 100px 0 100px;
  }
  .which-facts {
    flex-direction: column;
    gap: 20px;
  }
  .sponsor-img {
    justify-content: space-evenly;
    gap: 20px;
  }
}
